.board-tile {
  height: 50px;
  width: 50px;
  opacity: 1;
  border: none;
  background: transparent;
}



#bird {
  height: 50px;
  width: 50px;
  opacity: 1;
}

#fly {
  height: 50px;
  width: 50px;
  opacity: 1;
}

#monster {
  height: 50px;
  width: 50px;
  opacity: 1;
}